*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
.heathy-top-banner{
    display: flex;
    padding: 70px 0px;
}
.food-wrap{
    width: 50%;
    padding: 0px 45px 0px 90px;
}
.food-wrap img{
    width: 100%;
    height: auto;
    }
.food-slice p{
    font-size: 22px;
    color: #808080;
    font-weight: 400;
    margin-top: 35px;
    line-height: 32px;
    margin-bottom: 50px;
}
.food-slice{
    margin-top: 150px;
}
#net-food{
    color: #FB964B;
}
.food-slice h1 {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #575757;
}
.order-btn{
    margin-top: 30px;
    background-image: linear-gradient(to right,#fb984ce0,#f73f23);
    padding: 20px 35px;
    color: #ffffff;
    font-size: 20px;
    border-radius: 30px;
}
section.about-section {
    display: flex;
    background: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 65px;
}
.profile-pic {
    width: 50%;
}
.profile-pic img {
    width: 50%;
    display: block;
    margin: 0 auto;
}
.info-store {
    width: 50%;
    margin-top: 70px;
}
.info-store h2 {
    font-size: 40px;
    color: #707070;
    margin-bottom: 30px;
}
.info-store p {
    color: #858080;
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 100px;
    max-width: 500px;
}
.recipe-section {
    padding: 100px 0px;
}
.intro-recipe h2 {
    text-align: center;
    font-size: 40px;
    color: #676767;
    font-family: 'Roboto';
    margin-bottom: 35px;
}
.intro-recipe p {
    text-align: center;
    width: 600px;
    margin: 0 auto;
    font-size: 20px;
    color: #676767;
    margin-bottom: 50px;
}
.details-recipe-food {
    display: flex;
}
.quick-healthy-recipe {
    width: 25%;
    box-shadow: 2px 5px 20px 1px #aaaaaa;
    padding: 25px 22px;
    border-radius: 20px;
    box-sizing: border-box;
    margin-left: 6%;
}
.quick-healthy-recipe img {
    width: 100%;
}
.quick-healthy-recipe h3 {
    color: #18191F;
    font-size: 32px;
}
.quick-healthy-recipe h3 {
    color: #18191F;
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
}
.quick-healthy-recipe p {
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
}
.counter-section {
    display: flex;
    box-shadow: 2px 5px 20px 1px #aaaaaa;
    width: 1172px!important;
    margin: 0 auto;
    padding: 50px 0px;
    border-radius: 15px;
}
.counter-up {
    width: 26%;
    margin-left: 6%;
    text-align: center;
}
.counter-up h1 {
    font-size: 50px;
    margin-bottom: 20px;
}
.counter-up p {
    font-size: 16px;
}
section.pricing-table {
    display: flex;
    padding: 100px 0px;
}
.pricing-food-range {
    width: 26%;
    margin-left: 6%;
    text-align: center;
    border: 2px solid #F3F4F4;
    padding: 20px 0px;
}
.top-pricing-shedule h3 {
    font-size: 25px;
    color: #202020;
}
.top-pricing-shedule h1 {
    font-size: 50px;
    color: #202020;
    font-weight: 700;
}
.top-pricing-shedule p {
    width: 300px;
    margin: 0 auto;
    color: #ABAFB8;
    margin-bottom: 35px;
}
.pricing-list ul {
    line-height: 47px;
    color: #ABAFB8;
    font-size: 18px;
    list-style: none;
}
.add-cart-btn {
    background: #F3F4F4;
    margin-top: 40px;
    font-size: 20px;
    border-radius: 5px;
}
.add-cart-btn a {
    color: #E70404;
    display: block;
    padding: 16px 0px;
}
.top-pricing-shedule h1:hover{
    color: #E70404;
    transition: .3s;
}
.add-cart-btn a:hover{
    background:#E70404;
    color:#ffffff;
    transition: .5s;
}
section.team-section {
    padding: 70px 0px;
    display: flex;
}
.team-leader-view {
    width: 25%;
    margin-left: 6%;
}
.team-leader-view img {
    width: 100%;
}
.team-leader-view p {
    font-size: 18px;
    margin-top: 12px;
}
.team-leader-view h3 {
    font-size: 22px;
}
.footer-section {
    background: #0B0D17;
    padding: 40px 0px 70px 0px;
}
.footer-section h2 {
    text-align: center;
}
span#fooding-wrapper {
    color: #FC8545;
    font-size: 30px;
    margin-right: 6px;
}
span#network-live {
    color: #47484A;
    font-size: 30px;
    margin-left: 6px;
}
.footer-section p {
    color: #ffffff;
    text-align: center;
    font-size: 17px;
    margin-top: 35px;
}

